@font-face {
  font-family: 'Circular Std Bold';
  src: url('../fonts/CircularStd-Bold.eot');
  src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Bold.woff2') format('woff2'),
    url('../fonts/CircularStd-Bold.woff') format('woff'),
    url('../fonts/CircularStd-Bold.ttf') format('truetype'),
    url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url('../fonts/CircularStd-Book.eot');
  src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Book.woff2') format('woff2'),
    url('../fonts/CircularStd-Book.woff') format('woff'),
    url('../fonts/CircularStd-Book.ttf') format('truetype'),
    url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}
body {
  min-height: 90%;
  color: #fff;
  font-size: 30px;
  font-family: 'Circular Std Book';
  text-shadow: 0 0 2px rgba(0,0,0,.2);
}
h2{
  font-size: 40px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}
a{
  text-decoration: underline;
}
p{
  margin: 0 0 20px 0;
}
strong, b{
  font-weight: normal;
  font-family: 'Circular Std Bold';
}
.aleft{
  text-align: left;
}
.line{
  height: 2px;
  width: 100%;
  border-bottom: solid 2px #fff;
  padding-bottom: 2px;
}

.box-landing{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  opacity: .9;
  display: table;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ee2d24+0,21b3e4+100 */
background: #ee2d24; /* Old browsers */
background: -moz-linear-gradient(top, #ee2d24 0%, #21b3e4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ee2d24 0%,#21b3e4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ee2d24 0%,#21b3e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee2d24', endColorstr='#21b3e4',GradientType=0 ); /* IE6-9 */
}

.box-center{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
  opacity: 1;
  width: 100%;
}
/*.box-center p{
  padding: 0;
}*/
#landing .box-center{
  opacity: 1;
}

.box-grad{
  padding: 60px 0;
  cursor: pointer;
}
.logo{
  margin-bottom: 10%;
  margin-top: -100px;
}
/*.more{
  position: absolute;
  bottom: 10%;
  left: 50%;
  -moz-transform: translateX(-51%);
  -webkit-transform: translateX(-51%);
  -o-transform: translateX(-51%);
  -ms-transform: translateX(-51%);
  transform: translateX(-51%);
  cursor: pointer;
}*/

.more {
  white-space: nowrap;
  font-size: 4rem;
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  margin: auto;
  width: 157px;
  height: 96px;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 750ms ease-in-out;
  -ms-transition: all 750ms ease-in-out;
  -o-transition: all 750ms ease-in-out;
  transition: all 750ms ease-in-out;
}


.cont{
  width: 80%;
  margin: auto;
  /*max-width: 900px;*/
  z-index: 10;
}

.flecha{
 background: url(../images/arrowr.png);
 background-repeat: no-repeat;
 background-position: center right; 
 background-size: 100%;
 float: right;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 45%;
    width: 30px;
    z-index: 99;
}

#cont-master{
  padding: 0;
}

#content{
  height: 85vh;
}
.swiper-container {
  width: 100%;
  height: 100vh;
  
  color: #fff;
  text-align: center;
  position: relative;
  z-index: auto;
}
.swiper-slide{
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #21b3e4;
  background-repeat: no-repeat;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;       
  max-width: 100vw; 
  position: relative;
}
.head{
  width: 78%;
  margin: 0 11%;
  position: absolute;
  top: 20px;
  color: rgba(255, 255, 255,.5);
  text-align: left;
  left: 0;
  min-height: 50px;
}
.full-menu{
  position: absolute;
  right: 0;
  z-index: 99;
  top: 0;

}
.full-menu ul{
  background: #fff none repeat scroll 0 0;
  color: #21b3e4;
  height: 100vh;
  padding: 100px 20px;
  right: -60px;
  text-shadow: 0 0 0;
  top: -50px;
  width: 0px;
  list-style: none;
  position: absolute;
 opacity: 0;
  -webkit-transition: all 1ms ease;
-moz-transition: all 1ms ease;
-ms-transition: all 1ms ease;
-o-transition: all 1ms ease;
transition: all 1ms ease;
}
.full-menu ul li{
  font-size: 35px;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 15px;
}
.open-m{
  color: rgb(0,0,0.5);  
  z-index: 99999;
  position:relative;
  text-decoration: underline;
}

.oopen{
  color: #000;
  right: 30px;
}

.menu-u.open{
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: all 1ms ease;
-moz-transition: all 1ms ease;
-ms-transition: all 1ms ease;
-o-transition: all 1ms ease;
transition: all 1ms ease;
opacity: 1;
width: 300px;
}
.logo-head{
  float: right;
  margin-top: 5px;
  cursor: pointer;
}
.swiper-slide .swiper-slide{
  max-width: 90vw;
}
.swiper-slide .fslider, .swiper-slide .lslider{
  max-width: 100vw;
}
.swiper-slide .fslider > .pagination{
  opacity: 0;
}
.pagination {
  
  bottom:20px;
  position: absolute;
  text-align: center;
  -webkit-transform:translate3d(-50%,0,0);
  -moz-transform:translate3d(-50%,0,0);
  -o-transform:translate(-50%,0);
  -ms-transform:translate3d(-50%,0,0);
  transform:translate3d(-50%,0,0) transition: all 0.3s ease 0s;
  z-index: 0;
  margin: 0;
}
.swiper-pagination-switch , .swiper-pagination-bullet{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, .4);
  margin: 0 10px!important;
  cursor: pointer;
}
.swiper-visible-switch {
  background: rgba(255, 255, 255, .4);
}
.swiper-active-switch {
 background: rgba(255, 255, 255, 1);
}
.swiper-pagination-bullet{
  background: rgba(255, 255, 255, .4)!important;
  opacity: 1!important
}
.swiper-pagination-bullet-active{
   background: rgba(255, 255, 255, 1)!important;

}
.title{
  margin-bottom: 25px;
  font-family: 'Circular Std Bold';
}
.box-text{
  font-size: 25px;
}

.box-text h3{
  font-size: 80px;
  font-family: 'Circular Std Bold';
}
.extra{
  position: relative;
}
.extra:before{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.4);
  content:"";
  z-index: 0;
}
.box-qoute h3.tsmall{
  font-size: 80px;
  font-family: 'Circular Std Bold';
}
.box-qoute h3.tsmall:before {
    content: '"';
    position: absolute;
    margin-left: -.4em;
}

.box-qoute h3.tsmall:after {
    content: '"';
}
.box-qoute h3.tbig{
  font-size: 120px;
  font-family: 'Circular Std Bold';
}
.box-qoute h3.tbig:before {
    content: '"';
    position: absolute;
    margin-left: -.4em;
}

.box-qoute h3.tbig:after {
    content: '"';
}
.final-fin{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0
}
.final-fin .box-grad{
  width: 100%;
  padding: 40px 0;
  position: relative;
  cursor: pointer;
}
.final-fin .foot{
  background: #fff;
  text-align: center;
  color: #000;
  padding: 40px;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 9999999999999999
}
.final-fin p{
  margin: 0;
}
.final-fin .foot a{
  color: #000;
}
.sp, .sn{
  position: absolute;
  top: 20px;
  z-index: 9999999;
  font-size: 100px;
  display: none;
}
.sp{
  left: 0
}
.sn{
  right: 0;
}
/*
Max content widths
*/
.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto
}

/*
Header logo
If you require a Site title and a logo, an example of how to do this is provided below (use your own logo):

#site-title a {
  display: inline-block;
	padding-left 60px;
  background: url(../img/logo.png) 0 0 no-repeat;
}
*/

/*
Main content
*/

#content article {
  margin-bottom: 0px
}
#content header {
  margin: 0px 0
}
#content section {
  margin-bottom: 0px
}
#content footer {
  padding-bottom: 0px
}

/*
Sidebar
*/

.sidebar {
  margin-top: 20px
}
.sidebar section {
  margin-bottom: 40px
}
.sidebar ul,
.sidebar ol {
  list-style-type: none;
  padding: 0
}
.sidebar li {
  margin: 10px 0
}

/*
Hide form placeholders on focus
*/

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
textarea:focus::-webkit-input-placeholder { color: transparent; }
textarea:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
textarea:focus::-moz-placeholder { color: transparent; } /* FF 19+ */ 

/*
Comments
*/

#respond {
  margin-top: 40px
}
ol.commentlist {
	counter-reset: li; /* Initiate a counter */
	padding: 0
}
ol.commentlist ul {
  padding: 0
}
ol.commentlist > li {
	position: relative;
	margin: 0 0 20px 0;
	list-style: none /* Disable the normal item numbering */
}
ol.commentlist > li:before {
  content: "Thread " counter(li); /* Use the counter as content */
  counter-increment: li; /* Increment the counter by 1 */
  position:absolute;  
  top: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom-left-radius: 4px;
  padding: 5px 20px 5px 10px;
  color: #999
}
ol.commentlist li ol,
ol.commentlist li ul {
  list-style-type: none;
  margin: 0
}

.commentlist li li {
  background: #f8f8f8;
}
.commentlist li li li {
  background: #fff
}
.commentlist li li li li {
  background: #f8f8f8
}
.commentlist li li li li li li {
  background: #fff
}
.commentlist li {
  padding: 20px
}
.commentlist ul li {
  margin-top: 20px;
  margin-bottom: 0
}
.reply p {
  margin: 0
}

/*
Site footer
*/

.site-footer ul,
.site-footer ol {
  list-style-type: none;
  padding: 0
}
.site-footer li {
  margin: 10px 0
}
.site-sub-footer p {
  text-align: center
}

.site-footer p {
  text-align: center
}

@media(max-width: 768px){
  body, .swiper-container, .swiper-slide,  .box-landing{
        height: 95vh!important;
  }
  .ua-crios body, .ua-crios .swiper-container, .ua-crios .swiper-slide, .ua-crios .box-landing{
        height: 100vh!important;
  }
  .more{
   width: 50px;
    height: auto;
    bottom: 100px;
    /*-moz-transform: translateX(-15%);
    -webkit-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    transform: translateX(-15%);*/
  }
    .lift {
  bottom: 85px;
}
  .tbig, .tsmall{
    padding: 0 5%;
  }
  .box-qoute h3.tsmall{
    font-size: 60px;
    font-family: 'Circular Std Bold';
  }
  .box-qoute h3.tbig{
    font-size: 90px;
    font-family: 'Circular Std Bold';

  }
  .flecha {
    float: right;
    height: 45px;
    position: absolute;
    right: 20px;
    top: 48%;
    width: 25px;
    z-index: 99;
}
}

@media(max-width: 767px){
  body {
    font-size: 18px;
  }
  h2{
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  p{
    margin: 0 0 10px 0;
  }
  .cont{
    width: 88%;
  }
  .title{
    margin-bottom: 12px;
  }
  .logo{
    width: 55px;
    height: auto;
  }
  .more{
    width: 27px;
    height: auto;
    bottom: 50px;
 /*   -moz-transform: translateX(-6px);
    -webkit-transform: translateX(-6px);
    -o-transform: translateX(-6px);
    -ms-transform: translateX(-6px);
    transform: translateX(-6px);*/
  }
    .lift {
    bottom: 64px;
  }
  .box-grad{
    padding: 27px 0;
  }
  .box-text{
    font-size: 14px;
  }

  .box-text h3{
    font-size: 34px;
  }
  .box-qoute h3.tsmall{
    font-size: 28px;
    font-family: 'Circular Std Bold';
  }
  .box-qoute h3.tbig{
    font-size: 50px;
   font-family: 'Circular Std Bold';

  }
  .head{
    top: 15px;
    width: 80%;
    margin: 0 10%;
    font-size: 15px;
  }
  .final-fin .box-grad{
    padding: 20px 0;
  }
  .final-fin .foot{
     padding: 20px;
  }
  .pagination{
    bottom: 20px;
    width: 100%;
  }
  .swiper-pagination-switch{
    margin: 0 5px;  
  }
  body, .swiper-container, .swiper-slide,  .box-landing{
        height: 90vh!important;
  }
  .ua-crios body, .ua-crios .swiper-container, .ua-crios .swiper-slide, .ua-crios .box-landing{
        height: 100vh!important;
  }
  .full-menu ul li{
    font-size: 15px;
  }
  .menu-u.open{
    width: 180px;
  }
  .logo-head{
  float: right;
  margin-top: 5px;
  max-height: 35px;
  width: auto;
  opacity: .9;
  }
  .flecha {
    float: right;
    height: 28px;
    position: absolute;
    right: 20px;
    top: 48%;
    width: 15px;
    z-index: 99;
}
.fslider .cont{
  width: 70%;
}
}
@media(max-width: 320px){
  body, .swiper-container, .swiper-slide,  .box-landing{
        height: 87vh!important;
  }
  .ua-crios body, .ua-crios .swiper-container, .ua-crios .swiper-slide, .ua-crios .box-landing{
        height: 100vh!important;
  }
}